[submodule "casperfpga"]
	path = casperfpga
	url = https://github.com/casper-astro/casperfpga
[submodule "snap/mlib_devel"]
	path = snap/mlib_devel
	url = https://github.com/casper-astro/mlib_devel.git
[submodule "skarab/mlib_devel"]
	path = skarab/mlib_devel
	url = https://github.com/casper-astro/mlib_devel.git
[submodule "roach2/mlib_devel"]
	path = roach2/mlib_devel
	url = https://github.com/casper-astro/mlib_devel.git
[submodule "red_pitaya/mlib_devel"]
	path = red_pitaya/mlib_devel
	url = https://github.com/casper-astro/mlib_devel.git
