[submodule "casperfpga"]
	path = casperfpga
	url = https://github.com/casper-astro/casperfpga

[submodule "mlib_devel/roach"]
	path = roach/mlib_devel
        url = https://github.com/casper-astro/mlib_devel

[submodule "mlib_devel/snap"]
	path = snap/mlib_devel
        url = https://github.com/casper-astro/mlib_devel

[submodule "mlib_devel/red_pitaya"]
	path = red_pitaya/mlib_devel
        url = https://github.com/casper-astro/mlib_devel

[submodule "mlib_devel/skarab"]
	path = skarab/mlib_devel
        url = https://github.com/casper-astro/mlib_devel
